.container--button {
    width: 60px;
    height: 60px;
    border-radius: 75px;
    border: none;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #61DAFA;
    box-shadow: 2px 2px 20px rgba(97, 218, 250, 0.5);
}


.button__icon {
    width: 30px;
    height: 30px;
}