.container--items {
    width: auto;
    height: 100px;
    margin-top: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    background-color: #FAFAFA;
    box-shadow: 3px 3px 5px rgba(32, 35, 41, 0.15);
}

.container--items p {
    color: #1E1E1F;
    font-size: 18px;
    align-self: center;
    text-align: center;
}

.completeIcon {
    width: 28px;
    height: 28px;
    margin-top: 40px;
    padding-left: 12px;
}

.deleteIcon {
    width: 18px;
    height: 18px;
}